include AUTHORS
include HISTORY
include INSTALL
include LICENSE
include MANIFEST.in
include README
include setup.py
include pulp-or/examples/*.py
include pulp-or/src/*.c
include pulp-or/src/*.cpp
include pulp-or/src/*.h
include pulp-or/src/makefile
include pulp-or/src/AUTHORS
include pulp-or/src/LICENSE
include pulp-or/src/*.txt
include pulp-or/src/*.cfg
include pulp-or/src/*.py
include pulp-or/src/*.dll
include pulp-or/src/*.so
#include pulp-or/doc/*.pdf
